---
title: Gregory Jurgajtis
---

<div class="container">
  <div class="headshot"></div>

  <h1 class="h1 h1--space-below">Hi, I'm Gregory Jurgajtis</h1>

  <p class="p p--space-below">I am a business student passionate about Sales and Marketing.</p>

  <p class="p p--space-below">
    For the past three years I have worked as a project manager, sales
    representative, and sales ops manager in the higher education space.
  </p>

  <p class="p p--space-below">
    I specialize in improving sales strategy and helping sales team&apos;s
    increase revenue.
  </p>

  <p class="p p--space-below">
    Interested in connecting?
    <a class="a" href="mailto:gregjurgajtis@gmail.com">Contact Me.</a>
  </p>
</div>
